{%- extends "layout.html.j2" %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Datasource Details</h2>
    <small> <a href="/">Back to dashboard...</a> </small>
  </div>

  <h4>This datasource has been reset.</h4>

  
</div>

{%- endblock %}
