{%- extends "layout.html.j2" %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Datasource Details</h2>
    <small> <a href="/">Back to dashboard...</a> </small>
  </div>

  <h3>Stats</h3>
  <ul>
  <li><b>name:</b> {{ds.name}}</li>
  <li><b>runtime id:</b> {{ds.runtime_id}}</li>
  </ul>

  <h3>Run history (last 10)</h3>

  <table class="table">
    <tr>
      <th>Status</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Run ID</th>

    </tr>
    {% for (run_id, start_time, end_time, state ) in ds_run_log %}
    <tr>
      <td>{{state}}<br> <a href="/sources/{{ds.runtime_id}}/runs/{{run_id}}/logs">logs</a></td>
      <td>{{start_time}}</td>
      <td>{{end_time}}</td>
      <td>{{run_id}}</td>
    </tr>

    {% endfor %}
  </table>
  <h3>Code</h3>
  <div id="editor" style="height: 200px;">{{ds.source_code}}</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded',() => {
  var editor = ace.edit("editor", {
    mode: "ace/mode/python",
    theme: "ace/theme/monokai",
    readOnly: true
  });

  });
</script>

{%- endblock %}
