{%- extends "layout.html.j2" %}


{% block content %}
<div class="container">
  <div class="jumbotron">
    <h2>Datasource Details</h2>
    <small> <a href="/">Back to dashboard...</a> </small>
  </div>

  <h3>Stats</h3>
  <ul>
  <li><b>name:</b> {{ds.name}}</li>
  <li><b>runtime id:</b> {{ds.runtime_id}}</li>
  </ul>

  <h3>Run history (last 10)</h3>

  <table class="table">
    <tr>
      <th>Status</th>
      <th>Started at</th>
      <th>Ended at</th>
      <th>Run ID</th>

    </tr>
    {% for (run_id, start_time, end_time, state ) in ds_run_log %}
    <tr>
      <td>{{state}}<br> <a href="/sources/{{ds.runtime_id}}/runs/{{run_id}}/logs">logs</a></td>
      <td>{{start_time}}</td>
      <td>{{end_time}}</td>
      <td>{{run_id}}</td>
    </tr>

    {% endfor %}
  </table>
  <h3>Code</h3>
  <div id="editor" style="height: 200px;">{{ds.source_code}}</div>

  <h3>Reset Datasource</h3>
  <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#resetModal">
      Reset
    </button>

  <!-- Modal -->
  <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="resetModalLabel">Are you sure?</h5>
          </button>
        </div>
        <div class="modal-body">
          Resetting this datasource will reload the plugin and erase all previously collected data. This 
          action is irreversable. Would you like to continue?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Confirm Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded',() => {
  var editor = ace.edit("editor", {
    mode: "ace/mode/python",
    theme: "ace/theme/monokai",
    readOnly: true
  });

  });
</script>

{%- endblock %}
